  <nav class="navbar">
    <ul>
     <li>
        <p><a href="/"> Home </a></p>
      </li>
       <li id="to-left">
        <p><a href="/menu"> Menu </a></p>
        </li>
       <li>
        <p><a href="/aboutus"> About Us </a></p>
      </li>
      <li>
        <p><a href="/events"> Events </a></p>
      </li>
      <li id="to-right">
        <a href="/myprofile">My Profile</a> <span> | </span>
        <a href="/logout">Logout</a> {{!-- !!! --}}
      </li>
      </ul>
      </nav>


<body>
  <div>
<h2><a href="/userprofile"> Competition Signup </a></h2>
</div>
  <div>
<h2><a href="/appchanges"> Application Changes </a></h2>
</div>
</body>


<style>
.navbar {
      font-size: medium;
      background-color: #333;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0;
       position: fixed; 
      top: 0; 
    z-index: 999;
      
    }
.navbar ul {
      list-style-type: none;
      margin: 0;
      padding-top: 20px;
      display: flex;
      justify-content: space-between; 
      width: 100%; 
    }

.navbar ul li {
      margin: 0 10px;
      flex: 1; 
      text-align: center;
      color: red;
    }

.navbar ul li a {
      color: #fff;
      text-decoration: none;
    }

.navbar ul li#to-right {
      margin-right: auto; 
    }





</style>